
/* COLORS */
$clr-light: rgba(252, 250, 249, 1);
$clr-blue: rgba(102, 226, 220, 1);
$clr-orange: rgba(250, 116, 83, 1);
$clr-yellow: rgba(255, 185, 100, 1);
$clr-dark: rgba(25, 24, 38, 1);


/* TYPE */
$ff-regular: 'IBM Plex Sans', sans-serif;

$fs-regular: 1rem;
$fs-header: 2.5rem;
$fs-subheader: 2rem;
$fs-accent: 4rem;

$fs-regular-tablet: 1.125rem;
$fs-header-tablet: 4rem;

$fs-regular-desktop: 1.25rem;
$fs-header-desktop: 5.5rem;
$fs-subheader-desktop: 2.5rem;

$fw-regular: 400;
$fw-bold: 700;